.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  background-color: blue;
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  background-color: blueviolet;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  background-color: chartreuse;
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  background-color: peru;
  grid-column: 3;
  grid-row: 3;
}
.five {
  background-color: pink;
  grid-column: 2;
  grid-row: 4;
}
.six {
  background-color: red;
  grid-column: 3;
  grid-row: 4;
}
